// Breakpoints
$breakpoint-xsmall: 320px;
$breakpoint-small: 360px;
$breakpoint-medium: 768px;
$breakpoint-large: 1280px;

// Spacing
$space-3xl: 48px;
$space-xxl: 32px;
$space-xl: 24px;
$space-l: 16px;
$space-m: 12px;
$space-s: 8px;
$space-xs: 4px;

// form field height
$form-field-height: 44px;

// Default rounded border radius
$rounded-default-radius: 8px;
$rounded-small-radius: 4px;
