@font-face {
  font-family: "Open Sans";
  src:
    url("~/static/fonts/OpenSans-Light.woff") format("woff"),
    url("~/static/fonts/OpenSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("~/static/fonts/OpenSans-Regular.woff") format("woff"),
    url("~/static/fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("~/static/fonts/OpenSans-Semibold.woff") format("woff"),
    url("~/static/fonts/OpenSans-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("~/static/fonts/OpenSans-Bold.woff") format("woff"),
    url("~/static/fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
